/*
	cart entire display / global styling
*/

.cart-vehicle-info,
.shopping-cart-container,
.cart-display,
.car-counter-container {
	display: flex;
}

.shopping-cart-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}

.shopping-cart-title {
	margin-top: 0.18em;
	margin-bottom: 0.55em;
}

.cart-display {
	flex-direction: column;
	align-items: center;
	background-color: var(--white-color);
	width: 60%;
}

.cart-blur {
	backdrop-filter: blur(2.5px);
	width: 40%;
}

.shopping-cart-title {
	font-family: "Poppins";
	font-size: 4em;
	font-weight: 500;
}
.cart-total-price {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

/*
	cart-items
*/
.cart-item {
	display: flex;
	border-top: 0.5px solid var(--black-color);
	border-bottom: 0.5px solid var(--black-color);
}

.vehicle-picture-cart {
	width: 26.6%;
	height: auto;
	object-fit: contain;
}
.garbage-icon-cart {
	width: 16px;
}
.garbage-icon-cart:hover {
	cursor: pointer;
}
/*
	car counter	
*/

.car-counter-quantity {
	font-weight: 300;
	font-size: 1.5rem;
}

.car-counter-button-plus,
.car-counter-button-minus {
	flex: 0 0 auto;
	align-self: center;
	border-radius: 5px;
	background-color: var(--gray-color);
	border: 0.5px solid var(--black-color);
}
