/*
    global styles
*/

.checkout-container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
}

.checkout-input-header,
.checkout-input {
	font-family: "roboto";
}

/*
    form
*/
.checkout-input-info-container {
	width: 65%;
}

.checkout-input {
	font-size: 1.25 em;
	padding: 0.8em;
	border-radius: 5px;
}

/*
    Checkout Summary
*/

.checkout-summary-container {
	width: 40%;
	height: 30vh;
	background-color: var(--gray-color);
}
